@import "/public/less/app/common/header-user.less";


.icon-facebook{
	.icon-facebook();
}

.icon-twitter{
	.icon-twitter();
}

.icon-instagram{
	.icon-instagram();
}

.icon-pinterest{
	.icon-pinterest();
}

.me-profilepic(@width: 50px; @height: 50px;){
	.border-radius(50%);
	width: @width;
	height: @height;
	background-repeat: no-repeat;
	background-position: center center;
}

.me-profilepic-40{
	.me-profilepic(40px, 40px);
	background-image: url(@image-avatar-40);
}

.me-profilepic-50{
	.me-profilepic(50px, 50px);
	background-image: url(@image-avatar-50);
}

.me-profilepic-80{
	.me-profilepic(80px, 80px);
	background-image: url(@image-avatar-80);
}

.me-profilepic-100{
	.me-profilepic(100px, 100px);
	background-image: url(@image-avatar-100);
}

.me-profilepic-200{
	.me-profilepic(200px, 200px);
	background-image: url(@image-avatar-200);
}

.wave-keyframe();
.wave-keyframe(miniwaves, 1.0, 3);

.me-timeline{
	width: 100%;
	margin: 70px auto 0;

	& when (@media = desktop){
		margin: 100px auto;
		width: 720px;
	}

	text-align: left;
	> section{
		.relative();
		height: 100%;
		min-height: 100px;
		width: 100%;
		& when (@media = desktop){
			.border-radius(5px);
			.box-shadow(1px 1px 3px 0px rgba(50, 50, 50, 0.35));
		}

		//Fixing collapsing margins issue Collapsing margins
		padding-top: 1px;

		background: #fff;

		margin-bottom: 15px;
		
		> header{
			.absolute();
			top: 0;
			left: 0;
			& when (@media = mobile){
				right: 0;
				height: 50px;

				> i{
					left: 50%;
					top: 50%;
					margin-top: -16px;
					margin-left: -16px;
					width: 32px;
					height: 32px;
					line-height: 32px;
					.border-radius(50%);
					color: #fff;
					.background(#000,.1);
					text-align: center;
					font-size: 16px;
				}
			}

			& when (@media = desktop){
				width: 5px;
				height: 100%;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				> i{
					left: -30px;
					top: 10px;
					font-size: 20px;
				}
			}

			> i{
				.absolute();
			}
		}
		> aside{
			& when (@media = mobile){
				padding: 60px 0 0;
			}
			& when (@media = desktop){
				padding: 10px 20px 0 40px;
			}
			word-wrap: break-word;
		}

		&.collapse{
			> aside{
				& when (@media = mobile){
					height: 5px;
				}
			}
		}

		.timeline-curtime{
			.absolute();
			left: 100%;
			top: 10px;
			color: #888;
			padding-left: 10px;
			white-space: nowrap;
		}
	}
}

@import "fb/fb.less";
@import "twitter/twitter.less";
@import "ig/ig.less";
