@import "/public/less/app/common/header-user.less";

.load-sq-btn();

.btn-facebook-sq-sm{
	.btn-facebook-sq-sm();
}

.btn-twitter-sq-sm{
	.btn-twitter-sq-sm();
}

.btn-pinterest-sq-sm{
	.btn-pinterest-sq-sm();
}

.btn-googleplus-sq-sm{
	.btn-googleplus-sq-sm();
}

.btn-instagram-sq-sm{
	.btn-instagram-sq-sm();
}

.btn-foursq-sq-sm{
	.btn-foursq-sq-sm();
}

.btn-yahoo-sq-sm{
	.btn-yahoo-sq-sm();
}

.btn-photo-sq-sm{
	.btn-photo-sq-sm();
}

.btn-checkin-sq-sm{
	.btn-checkin-sq-sm();
}

.btn-video-sq-sm{
	.btn-video-sq-sm();
}

.me-timeline{
	width: 100%;
	margin: 70px auto 0;

	& when (@media = desktop){
		margin: 100px auto;
		width: 720px;
	}
	text-align: left;
}

.me-timeline > .me-timeline-section{
	.relative();
	width: 100%;
	& when (@media = desktop){
		.border-radius(5px);
		.box-shadow(1px 1px 3px 0px rgba(50, 50, 50, 0.35));
		margin-bottom: 15px;
	}

	//Fixing collapsing margins issue Collapsing margins
	padding-top: 1px;
	background: @color-white;

	> header{
		.absolute();
		top: 0;
		left: 0;
		& when (@media = mobile){
			.transition(all .1s ease-in-out);
			right: 0;
			height: 50px;

			> i{
				.transition(all .1s ease-in-out);
				left: 50%;
				top: 50%;
				margin-top: -16px;
				margin-left: -16px;
				width: 32px;
				height: 32px;
				line-height: 32px;
				.border-radius(50%);
				color: @color-white;
				.background(#000,.1);
				text-align: center;
				font-size: 16px;
			}
		}

		& when (@media = desktop){
			width: 5px;
			height: 100%;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			> i{
				left: -30px;
				top: 10px;
				font-size: 20px;
			}
		}

		> i{
			.absolute();
		}
	}
	> aside{
		& when (@media = mobile){
			padding: 60px 0 0;
		}
		& when (@media = desktop){
			padding: 10px 20px 0 25px;
		}
		word-wrap: break-word;
	}

	&.collapse{
		& when (@media = mobile){
			> header{
				position: fixed;
				top: 70px;
				height: 5px;
				> i{
					opacity: 0;
					visibility: hidden;
					.scale(0);
				}
			}

			> aside{
				padding: 15px 0 0;
			}
		}
	}

	& when (@media = desktop){
		.post-time{
			.absolute();
			left: 100%;
			top: 10px;
			color: @color-gray-medium;
			padding-left: 10px;
			white-space: nowrap;
		}		
	}
}

.me-timeline-settings{
	position: fixed;
	left: 0;
	top: 100px;
	width: 265px;
	.translate(-265px, 0);
	.transition(all .2s ease-out);

	.settings-anchor{
		.absolute();
		z-index: 1;
		right: -50px;
		top: 0;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		text-decoration: none;
		color: @color-gray-medium;
		background: @color-white;
		font-size: 20px;
		.box-shadow(0 2px 2px fade(#000,10%));

		&:before{
			.icon();
			.relative();
			top: 2px;
			.icon-content(602);
		}

		&:after{
			.absolute();
			left: -2px;
			top: 0;
			width: 2px;
			height: 100%;
			background: @color-white;
			z-index: 2;
			content: "";
		}
	}

	.settings-content{
		width: 265px;
		padding: 25px;
		color: @color-gray-medium;
		background: @color-white;
		font-size: 14px;
		.box-shadow(0 2px 2px fade(#000,10%));

		> section{
			margin-bottom: 10px;
			.clearfix();
			
			&:last-child{
				margin-bottom: 0;
			}
		}

		h3{
			margin-bottom: 10px;
		}

		li{
			float: left;
			margin: 0 5px 5px;
		}
	}

	&.show{
		.translate(0, 0);
		.settings-anchor:before{
			.icon-content(60f);
		}
	}
}

@import "fb/fb.less";
@import "twitter/twitter.less";
@import "ig/ig.less";
