<table width="620" cellspacing="0" cellpadding="0" border="0" style="background: url('/images/email/bg-email-invitation.jpg') no-repeat center center #0e0909; ">
	<tr>
		<td>
			<table width="620" cellspacing="0" cellpadding="0" border="0" style="color: #fff;">
				<tr><td height="40">&nbsp;</td></tr>
				<tr>
					<td style="font-size: 14px; padding: 0 40px;">
						<h2 style="font-size: 30px; text-align: center; margin-bottom: 40px;">Forgot your password, James Smith?</h2>
						<p>Mergify received a request to reset the password for your Mergify account (james.smith) on 5/23/2014 at 3:45 pm.</p>
						<p>To reset your password, click the buton or on the link below (or copy and paste the URL into your browser):</p>
						<p><a href="#" target="_blank" style="color: #cc66cc;"> https://mergify.com/pw_rst/e/22366942/sNUJZMIRkFsfqgdR%21y6mHsCI2ag%3D-1371302379-user/0/2</a></p>
					</td>
				</tr>
				<tr><td height="40">&nbsp;</td></tr>
				<tr>
					<td colspan="3" align="center">
						<a href="#" style="border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background-color: #1db51d; padding: 15px 30px; color: #fff; text-decoration: none;">Reset Password</a>
					</td>
				</tr>
				<tr><td height="80">&nbsp;</td></tr>
			</table>
		</td>
	</tr>
</table>