<table width="600" cellspacing="0" cellpadding="0" border="0" style="background: url('/images/email/bg-email-invitation.jpg') no-repeat center center #0e0909; ">
	<tr>
		<td>
			<table width="600" cellspacing="0" cellpadding="0" border="0" style="color: #fff; text-align: center;">
				<tr><td height="40">&nbsp;</td></tr>
				<tr>
					<td style="font-size: 25px;">You’re invited by your friend</td>
				</tr>
				<tr><td height="40">&nbsp;</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center">
			<table width="500" cellspacing="0" cellpadding="0" border="0" align="center" style="background: url('/images/email/line-email-dashed.png') no-repeat center 75px;">
				<tr>
					<td style="float: left; width: 50%; text-align: center;">
						<img style="border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;" src="/images/email/fig-email-user1.jpg" width="150" height="150" alt="Facebook" />
						<b style="margin-top: 20px; display: block; color: #cc66cc;">Juddy Stewart</b>
					</td>
					<td style="float: right; width: 50%; text-align: center;">
						<img style="border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;"  src="/images/email/fig-email-user2.jpg" width="150" height="150" alt="Facebook" />
						<b style="margin-top: 20px; display: block; color: #cc66cc;">You</b>
					</td>
				</tr>
				<tr><td colspan="2" height="25"></td></tr>
				<tr>
					<td colspan="2">
						<table width="100%" cellspacing="0" cellpadding="0" border="0" style="text-align: center;">
							<tr><td height="40">&nbsp;</td></tr>
							<tr>
								<td>
									<a href="#" style="border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background-color: #1db51d; padding: 15px 30px; color: #fff; text-decoration: none;">Start your experience</a>
								</td>
							</tr>
							<tr><td height="40">&nbsp;</td></tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>