<table width="600" cellspacing="0" cellpadding="0" border="0" style="background: url('/images/email/bg-email-verification.jpg') no-repeat center center #292c2e; ">
	<tr>
		<td align="center">
			<img style="margin-top: -75px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;" src="/images/email/fig-email-user2.jpg" width="150" height="150" alt="Facebook" />
		</td>
	</tr>
	<tr>
		<td>
			<table width="600" cellspacing="0" cellpadding="0" border="0" style="color: #fff; text-align: center;">
				<tr><td height="40">&nbsp;</td></tr>
				<tr>
					<td style="font-size: 25px;">Thank you for registeration</td>
				</tr>
				<tr><td height="40">&nbsp;</td></tr>
				<tr>
					<td>
						<a href="#" style="border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background-color: #1db51d; padding: 15px 30px; color: #fff; text-decoration: none;">Verify your Email</a>
					</td>
				</tr>
				<tr><td height="80">&nbsp;</td></tr>
			</table>
		</td>
	</tr>
</table>