<section class="me-timeline-section timeline-fb">
	<header>
		<i class="icon-facebook"></i>
	</header>
	<span class="post-time">{{fromNow this.created_time}}</span>
	<aside class="fb-feed">
	{{#foreach this.posts}} 
		{{> timeline/desktop/fb/post this }}
	{{/foreach}}
	</aside>  <!-- /fb-feed-->
</section> <!-- /timeline-fb-->