<form method="" action="" class="me-change-password-holder me-form">
	<div class='me-change-password-errormsg show'>
		Oops! Your new password does not match to your confirmation password.
	</div>
	<div>
		<input type="password" placeholder="Current Password" />
		<small>Leave it blank if you did not set any password</small>
	</div>
	<div>
		<input type="password" placeholder="New Password" />
	</div>
	<div>
		<input type="password" placeholder="Confirm New Password" />
	</div>

	<div class="me-button-holder">
		<button type="submit" class="btn-default btn-change-password">Save Password</button>
		<a href="#" class="btn-cancel">Cancel</a>
	</div>
</form>