<div class="me-modal-popup me-modal-change-password">
	<div class="me-modal-bg"></div>
	<div class="me-modal-box js-me-modal-box">
		<header>
			<h2>Change Password</h2>
			<a href="#" class="btn-back"></a>
		</header>
		<section>
			<form method="" action="" class="me-form">
				<div class="me-change-password-holder me-form">
					<div>
						<input type="password" placeholder="Current Password" />
						<small>Leave it blank if you did not set any password</small>
					</div>
					<div>
						<input type="password" placeholder="New Password" />
					</div>
					<div>
						<input type="password" placeholder="Confirm New Password" />
					</div>

					<div class="button-holder">
						<button type="submit" class="btn-default">Save Password</button>
						<a href="#" class="btn-cancel">Cancel</a>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>
