<div class="me-modal-popup me-modal-mini me-modal-create-account">
	<div class="me-modal-bg"></div>
	<div class="me-modal-box js-me-modal-box">
		<header>
			<h2>Create Mergify Account for Next Features</h2>
		</header>
		<section>
			<form action="" method="" class="me-form">
				<div>
					<section class='input-firstname'>
						<input type='text' placeholder='First Name' />
					</section>
					<section class='input-lastname'>
						<input type='text' placeholder='Last Name' />
					</section>
				</div>
				<div class='input-email'>
					<input type='email' placeholder='Email Address' />
				</div>
				<div class='input-password'>
					<input type='password' placeholder='Password' />
				</div>
				<div class="btn-holder">
					<button class="btn-default">Register</button>
				</div>
			</form>
		</section>
	</div>
</div>
