<div class="me-modal-popup me-modal-invite-friends show">
	<div class="me-modal-bg"></div>
	<div class="me-modal-box js-me-modal-box">
		<header>
			<h2>Invite your best friends to enjoy Mergify</h2>
			<small>2 of 5 invitation left</small>
		</header>
		<section>
			<header>
				<nav class="me-invite-tabs">
					<a href="#" class="facebook active"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="instagram"></a>
					<a href="#" class="pinterest"></a>
					<a href="#" class="gplus"></a>
					<a href="#" class="email"></a>
				</nav>
			</header>
			<div class="me-tab-content-wrapper">
				<div class="me-facebook-content">
					<header class="me-tab-content-header">
						<h4>Facebook friends (364)</h4>
						<div class="me-friends-search">
							<input type="text" placeholder="Search friend">
						</div>
					</header>
					<ul>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li class="active">
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invited</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
						<li>
							<figure class="me-profilepic-80"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Invite</button>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>
