<div class="me-modal-popup me-modal-change-password">
	<div class="me-modal-bg"></div>
	<div class="me-modal-box js-me-modal-box">
		<header>
			<h2>Change Password</h2>
			<a href="#" class="btn-back"></a>
		</header>
		<section>
			{{> modals/change-password-content}}
		</section>
	</div>
</div>
