<div class="me-modal-popup me-modal-mini me-modal-manage-socials show">
	<div class="me-modal-bg"></div>
	<div class="me-modal-box js-me-modal-box">
		<header>
			<h2>Manage Socials</h2>
		</header>
		<section>
			<ul class="me-socials-connections">
				<li>
					<button class='btn-facebook-sq'></button>
					<aside>
						<label>Connected</label>
						<span>eric.hayes</span>
					</aside>
					<label class="me-switch-holder">
						<input type="checkbox" class="me-button-switch" checked="checked" />
						<div class="fp-switch"></div>
					</label>
				</li>
				<li class="disconnected">
					<button class='btn-twitter-sq off'></button>
					<aside>
						<label>Not Connected</label>
					</aside>
					<label class="me-switch-holder">
						<input type="checkbox" class="me-button-switch"/>
						<div class="fp-switch"></div>
					</label>
				</li>
				<li>
					<button class='btn-pinterest-sq'></button>
					<aside>
						<label>Connected</label>
						<span>@eric.hayes</span>
					</aside>
					<label class="me-switch-holder">
						<input type="checkbox" class="me-button-switch" checked="checked" />
						<div class="fp-switch"></div>
					</label>
				</li>
				<li>
					<button class='btn-instagram-sq'></button>
					<aside>
						<label>Connected</label>
						<span>@eric.hayes</span>
					</aside>
					<label class="me-switch-holder">
						<input type="checkbox" class="me-button-switch" checked="checked" />
						<div class="fp-switch"></div>
					</label>
				</li>
				<li class="disconnected">
					<button class='btn-googleplus-sq off'></button>
					<aside>
						<label>Connected</label>
						<span>+eric.hayes</span>
					</aside>
					<label class="me-switch-holder">
						<input type="checkbox" class="me-button-switch"/>
						<div class="fp-switch"></div>
					</label>
				</li>
			</ul>
		</section>
	</div>
</div>
