<div class="me-modal-popup me-modal-change-picture">
	<div class="me-modal-bg"></div>
	<div class="me-modal-box js-me-modal-box">
		<header>
			<h2>Change Picture</h2>
			<a href="#" class="btn-back"></a>
		</header>
		<section>
			<div class="me-change-picture-holder">
				<figure class="me-profilepic-200 me-user-picture">
					<img src="#" alt="" />
				</figure>
				<nav class="me-change-picture-buttons">
					<a href="#" class="btn-upload">
						<i class="icon-upload"></i>
						<span>Upload</span>
					</a>
					<a href="#" class="btn-camera">
						<i class="icon-camera"></i>
						<span>Camera</span>
					</a>
				</nav>
			</div>
		</section>
	</div>
</div>
