<div class="tweet-inline-reply">
		<!-- condensed -->
		<form class="tweet-form condense" method="post" action="">

			<img class="tw-inline-reply-user-image" src="http://pbs.twimg.com/profile_images/378800000780979625/5b31061ad9b86827f08b932200f6c084_normal.jpeg" alt="">

			<div class="tweet-reply-container">
				<div class="tweet-box" contenteditable="true" role="textarea" spellcheck="true">
					<div>Reply to <a class="tw-timeline-link tw-atreply" href="/MSLearning"><s>@</s>MSLearning</a>&nbsp;</div>
				</div>

			</div>

			<div class="tw-reply-toolbar">

				<div class="tweet-box-extras">

					<div class="tw-photo-selector">
						<button class="btn icon-btn" type="button" tabindex="-1">
							<i class="icon-tw-camera"></i>
							<span class="btn-text">Add photo</span>
						</button>
					</div>

					<div class="tw-geo-picker">
						<button class="btn icon-btn disabled" type="button" tabindex="-1" title="Add location">
							<i class="icon-tw-geo"></i>
							<span class="btn-text">Add location</span>
						</button>
					</div>
				</div>

				<div class="tweet-button action-btn-tweet">
					<span class="tweet-spinner"></span>
					<span class="tweet-counter">119</span>
					<button class="btn tweet-actionBtn disabled" type="button" disabled="disabled">
						<i class="icon-tw-tweet"></i>
						<span class="btn-text">Tweet</span>
					</button>
				</div>

			</div>
		</form>
	</div>