<div class="tweet-content">

		{{> timeline/desktop/tw/tweet-header }}

		{{> timeline/desktop/tw/tweet-text }}

		{{> timeline/desktop/tw/tweet-media }}

		{{> timeline/desktop/tw/tweet-expand-content }}

		{{> timeline/desktop/tw/tweet-footer }}
		
	</div>