<div class="tweet-footer">
			<a class="tw-details-toggle-link" href="/freelancersu/status/579621227796545536">
				<span class="expand-link">View photo</span>
				<span class="collapse-link">Hide photo</span>
			</a>

			<div class="tweet-action-list">

				<div class="tweet-action action-reply">
					<button class="tweet-actionBtn" type="button">
						<i class="icon-tw-reply"></i>
						<span class="visuallyhidden">Reply</span>
					</button>
				</div>


				<div class="tweet-action action-retweet">
					<button class="tweet-actionBtn" type="button">
						<i class="icon-tw-retweet"></i>
						<span class="hidden">Retweet</span>
						<span class="tweet-action-count">2</span>
					</button>
				</div>
				<div class="tweet-action action-favorite">
					<button class="tweet-actionBtn" type="button">
						<i class="icon-tw-favorite"></i>
						<span class="visuallyhidden">Favorite</span>
						<span class="tweet-action-count">8</span>
					</button>
				</div>

				<div class="tweet-action action-more">
					<!-- Add .open -->
					<div class="tw-dropdown">
						<button class="tweet-actionBtn" type="button">
							<i class="icon-tw-dots"></i>
							<span class="visuallyhidden">More</span>
						</button>
						<div class="tw-dropdown-menu">
							<ul>
								<li>
									<button type="button">Share via Direct Message</button>
								</li>

								<li>
									<button type="button">Embed Tweet</button>
								</li>

								<li>
									<button type="button">Mute</button>
								</li>

								<li>
									<button type="button">Unmute</button>
								</li>

								<li>
									<button type="button">Block</button>
								</li>

								<li>
									<button type="button">Unblock</button>
								</li>

								<li>
									<button type="button">Report</button>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>