<div class="tweet-media-container">
			<div data-card-url="//twitter.com/freelancersu/status/579621227796545536/photo/1" data-card-type="photo">
				<a class="media media-thumbnail tw-timeline-link">
					<div class="image-holder">
						<img src="http://pbs.twimg.com/media/CAs6b32W4AAvQKZ.jpg" width="100%" alt="Embedded image permalink">
					</div>
				</a>
			</div>
		</div>