<p class="tweet-text">
			5 very clever ideas for organizing your office:
			<a href="#" class="tw-timeline-link" target="_blank" title="http://bit.ly/1CwKIZI">bit.ly/1CwKIZI</a> via
			<a href="/TheSelfEmployed" class="tw-timeline-link tw-atreply"><s>@</s><b>theselfemployed</b></a>
			<a href="#" class="tw-timeline-link hidden">pic.twitter.com/ag2JGPPlmC</a>
		</p>