<div class="tw-expanded-content">
	<div class="tweet-stats-container">

		<ul class="tw-stats">
			<li class="tw-stat-count">
				<a href="#">
					Retweets <strong>2</strong>
				</a>
			</li>

			<li class="tw-stat-count">
				<a href="#">
					Favorites <strong>7</strong>
				</a>
			</li>

			<li class="tw-avatar-row">
				<a href="/natredwine" title="Natalie Edwards">
					<img src="http://pbs.twimg.com/profile_images/3337577713/b3be82e970c72f5f3bb3cb1c49bbcebd_normal.jpeg" alt="Natalie Edwards">
				</a>
				<a href="/ndhcarter" title="Nathan Carter">
					<img src="http://pbs.twimg.com/profile_images/2278465064/image_normal.jpg" alt="Nathan Carter">
				</a>
				<a href="/JenMededit" title="Jennifer Holmes">
					<img src="http://pbs.twimg.com/profile_images/458955728674246658/QjhqFatn_normal.jpeg" alt="Jennifer Holmes">
				</a>
				<a href="/GLHJR" title="Gary Howe">
					<img src="http://pbs.twimg.com/profile_images/533813693017231361/KZpIxM75_normal.jpeg" alt="Gary Howe">
				</a>
				<a href="/GabrielRSRocha" title="Gabriel Rocha">
					<img src="http://pbs.twimg.com/profile_images/542039455994236928/lTEj4ldj_normal.jpeg" alt="Gabriel Rocha">
				</a>
				<a href="/tamaribu" title="Leslie T">
					<img src="http://pbs.twimg.com/profile_images/96849367/Photo_23_normal.jpg" alt="Leslie T">
				</a>
				<a href="/glorelysmoraliz" title="Glorelys Mora-Liz">
					<img src="http://pbs.twimg.com/profile_images/579457979222745088/tW5_fq91_normal.jpg" alt="Glorelys Mora-Liz">
				</a>
				<a href="/KareemMichel" title="Kareem Michel">
					<img src="http://pbs.twimg.com/profile_images/579535914784948224/1D4jW_4__normal.jpg" alt="Kareem Michel">
				</a>
			</li>
		</ul>
	</div>

	<div class="tw-client-and-actions">
		<span class="metadata">
			<span>5:00 PM - 22 Mar 2015</span>
			· <a class="permalink-link" href="/freelancersu/status/579621227796545536">Details</a>
		</span>
	</div>
</div>