<div class="tweet-header">

	<a class="tw-account-group" href="/freelancersu">
		<img class="tw-avatar" src="http://pbs.twimg.com/profile_images/1525465221/FU_Logo_Standard_RGB_bigger.jpg" alt="">
		<strong class="tw-fullname">Freelancers Union</strong>
		<span class="tw-username"><s>@</s><b>freelancersu</b></span>
	</a>
	<span class="tweet-geo">
		<a class="tweet-actionButton" href="/search?q=place%3A32f46700c31ebddb" role="button">
			<i class="icon-tw-geo"></i>
		</a>
	</span>
</div>