<section class="me-timeline-section timeline-ig">
	<header>
		<i class="icon-instagram"></i>
	</header>
	<span class="timeline-curtime">{{timeHourMin this.created_time}}</span>
	<aside class="ig-feed">
		{{!--{{#foreach this.elements}}--}}
			{{> timeline/instagram/box this.item}}
		{{!--{{/foreach}}--}}
	</aside>  <!-- /ig-feed-->
</section> <!-- /timeline-ig-->