.container{
	text-align: center;
}

@font-face {
	font-family: 'mergifyicon';
	src:url('/fonts/mergifyicon.eot');
	src:url('/fonts/mergifyicon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/mergifyicon.svg?#mergifyicon') format('svg'),
		url('/fonts/mergifyicon.woff') format('woff'),
		url('/fonts/mergifyicon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}