@font-face {
	font-family: 'mergifyicon';
	src:url('/fonts/mergifyicon.eot');
	src:url('/fonts/mergifyicon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/mergifyicon.svg?#mergifyicon') format('svg'),
		url('/fonts/mergifyicon.woff') format('woff'),
		url('/fonts/mergifyicon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mergifyicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
	content: "\e600";
}
.icon-camera:before {
	content: "\e601";
}
.icon-settings:before {
	content: "\e602";
}
.icon-search:before {
	content: "\e603";
}
.icon-paperplane:before {
	content: "\e604";
}
.icon-avatar:before {
	content: "\e605";
}
.icon-key:before {
	content: "\e606";
}
.icon-fb-notification:before {
	content: "\e607";
}
.icon-fb-messages:before {
	content: "\e608";
}
.icon-fb-friends:before {
	content: "\e609";
}
.icon-email-outline:before {
	content: "\e60a";
}
.icon-email:before {
	content: "\e60b";
}
.icon-apps:before {
	content: "\e60c";
}
.icon-bell:before {
	content: "\e60d";
}
.icon-tick:before {
	content: "\e60e";
}
.icon-cross:before {
	content: "\e60f";
}
.icon-arrow-up:before {
	content: "\e610";
}
.icon-arrow-right:before {
	content: "\e611";
}
.icon-arrow-left:before {
	content: "\e612";
}
.icon-arrow-down:before {
	content: "\e613";
}
.icon-facebook:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e615";
}
.icon-pinterest:before {
	content: "\e616";
}
.icon-googleplus:before {
	content: "\e617";
}
.icon-instagram:before {
	content: "\e618";
}

.container{
	text-align: center;
}