.container{
	text-align: center;
}

@font-face {
	font-family: 'me-icon';
	src:url('/fonts/me-icon.eot');
	src:url('/fonts/me-icon.eot') format('embedded-opentype'),
		url('/fonts/me-icon.svg?#me-icon') format('svg'),
		url('/fonts/me-icon.woff') format('woff'),
		url('/fonts/me-icon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}