<div class="fb-box{{#if $last}} last{{/if}}">
	<a href="#" target="_blank" class="fb-img-thumb">
		<img src="http://graph.facebook.com/{!!--{{this.item.from.id}}--}}/picture?type=square" />
	</a>
	<div class="fb-box-content">
		{{> timeline/mobile/fb/profile-header-row}}
		{{> timeline/mobile/fb/status-post}}
		{{> timeline/mobile/fb/link-actions}}
	</div><!-- /fb-body-->	
</div><!-- /fb-box-->