{{#extend 'stylesheets'}}
{{#if is_phone}}
<link rel='stylesheet' href='/css/page-wrappers/ask-friends.css' type='text/css' />
{{else}}
<link rel='stylesheet' href='/css/page-wrappers/ask-friends-desktop.css' type='text/css' />
{{/if}}
{{/extend}}

{{#unless is_phone}}
<div class='body-bg'></div>
{{/unless}}
<main class='container me-ask-friends' role='main'>
	{{#if is_phone}}
	<header class='me-common-header' role="banner">
		<a href="#" class="me-header-rslink">skip</a>
		{{else}}
		<header class='me-home-header' role="banner">
			{{/if}}

			{{> comps/header/logo}}
		</header>

		{{#if is_phone}}
		<div class='me-content-wrapper'>
			<div class="me-invite-friends-list">
				<button class='btn-outline-large'><span>Ask them all</span><small>34 Friends</small></button>
				<div class="me-invite-friends-inner">
					<ul>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
						<li class="active">
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz <small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Asked</button>
							</aside>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
						<li class="active">
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<aside>
								<h3>Kaylee Diaz James Double Size<small>CA, USA</small></h3>
								<button class='btn-outline-sm'>Ask</button>
							</aside>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{{else}}
		<div class='me-content-wrapper'>
			<h2>Yoohoo! We found out some of your friends are using <strong>Mergify</strong> ask them to invite you</h2>
			<div class="me-invite-friends-list">
				<div class="me-invite-friends-inner">
					<a href="#" class="btn-prev"><i class="icon icon-arrow-left"></i></a>
					<ul>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Ask</button>
						</li>
						<li class="active">
							<figure class="me-profilepic-100"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Asked</button>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Ask</button>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Ask</button>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Ask</button>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Ask</button>
						</li>
						<li>
							<figure class="me-profilepic-100"><img src=""></figure>
							<h3>Kaylee Diaz <small>CA, USA</small></h3>
							<button class='btn-outline-sm'>Ask</button>
						</li>
					</ul>
					<a href="#" class="btn-next"><i class="icon icon-arrow-right"></i></a>
				</div>
				<footer>
					<nav class="me-pagination-bullet">
						<a href="#" class="active"></a>
						<a href="#"></a>
						<a href="#"></a>
					</nav>
					<button class='btn-outline-large'><span>Ask them all</span><small>34 Friends</small></button>
				</footer>
			</div>

		</div>
		{{> comps/footer/footer-desktop}}
		{{/if}}

		{{> modals/modal-account-settings}}
		{{> modals/modal-change-password}}
		{{> modals/modal-change-picture}}
		
		{{> modals/modal-create-account}}
		{{> modals/modal-invite-friends}}
	</main>
	{{#extend 'js-bottom'}}
	{{/extend}}