{{#unless is_phone}}
<footer class="me-home-footer">
	<div class="row">
		<div class="me-footer-left">
			All rights reserved for 
			<a href="#">
				Mexo Inc
			</a>.
		</div>
		<div class="me-footer-right">
			<nav>
				<a href="#">
					Contact us
				</a>
				<a href="#">
					Privacy Policy
				</a>
				<a href="#">
					Terms of Use
				</a>
			</nav>
		</div>
	</div>
</footer>
{{/unless}}