<div class="ldin-box{{#if $last}} last{{/if}}">

	<span class="post-time">
		{{timeHourMin this.created_time}}
	</span>
	
	{{> timeline/desktop/ldin/feed-header }}

	{{> timeline/desktop/ldin/feed-content }}

	{{> timeline/desktop/ldin/feed-comment }}

</div><!-- /in-box -->

<div class="ldin-box{{#if $last}} last{{/if}}">

	<span class="post-time">
		{{timeHourMin this.created_time}}
	</span>
	
	{{> timeline/desktop/ldin/feed-header-new-connection }}

	{{> timeline/desktop/ldin/feed-content-new-connection }}

</div><!-- /in-box -->