<div class="ldin-comment-container">
	<button class="btn-prev-comments">Show previous comments</button>
	<div class="ldin-comment-list">
		<ol>
			<li>
				<a href="#" class="ldin-avatar ldin-avatar-xsmall">
					<img alt="Lilian Soemai" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/096/1e2/2270235.jpg">
				</a>
				<div class="comment-content">
					<header>
						<span class="timestamp">4h</span>
						<h4>
							<a href="#">Lilian Soemai</a>
						</h4>
					</header>
					<div class="text-entity" data-block="text-entity">
						<p dir="ltr">Thank you Aamani Tech :)</p>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="ldin-avatar ldin-avatar-xsmall">
					<img alt="Lilian Soemai" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/096/1e2/2270235.jpg">
				</a>
				<div class="comment-content">
					<header>
						<span class="timestamp">4h</span>
						<h4>
							<a href="#">Lilian Soemai</a>
						</h4>
					</header>
					<div class="text-entity" data-block="text-entity">
						<p dir="ltr">Thank you Stacey Hopkins :)</p>
					</div>
				</div>
			</li>
		</ol>
	</div>
	<form class="ldin-comment-box" method="" action="">
		<textarea placeholder="Add a comment..."></textarea>
	</form>
</div>