<div class="ldin-feed-content">
	<div class="ldin-feed-wrapper viral-feed">
		<div class="ldin-feed-author">
			<a href="#" class="ldin-avatar ldin-avatar-small">
				<img alt="Lilian Soemai" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/096/1e2/2270235.jpg">
			</a>
			<h4>
				<a href="#" class="ldin-link">Lilian Soemai</a>
				<div class="title-container">
					<a href="#">Stichting Behoud Leefbaarheid Dordtselaan, Tarwewijk en Bloemhof, Stichting Jagranie Soemai, Amgli Modellenbureau</a>
				</div>
			</h4>
		</div>
		<!-- add expanded -->
		<div class="ldin-feed-text shortened">
			<p dir="ltr">
				Today, I have received an Email from Linkedin(member@<a href="http://linkedin.com" data-trk="link" target="_blank">linkedin.com</a>) asking for my user name and password. If you have received such a message whether in your linkedin inbox or via Email DO NOT REPLY to it. Linkedin never asks for User<!--  credentials via Emails or Messages even though the sending address looks genuine. Let's see what linkedin will do with this security breach. --><button class="show-more" data-trk="show-more-text">… show more</button><button class="show-less" data-trk="show-less-text">&nbsp;show less</button>
			</p>
		</div>
		<div class="ldin-feed-shared-data">
			<a class="expanding-image" href="#">
				<img alt="" src="https://image-store.slidesharecdn.com/425bef48-fe4e-47df-a75c-ccdedb05f2cc-medium.jpeg">
			</a>
		</div>
		<div class="ldin-feed-action">
			<ul class="actions">
				<li>
					<button class="like">Like</button>
				</li>
				<li>
					<button class="comment">Comment</button>
				</li>
				<li>
					<button class="share">Share</button>
				</li>
			</ul>
			<span class="likes social-summary">
				<button class="ldin-btn-count count">
					<span>3</span>
				</button>
			</span>
			<span class="comments social-summary">
				<button class="ldin-btn-comment count">
					<span>5</span>
				</button>
			</span>
		</div>
	</div>
</div>