<div class="ldin-feed-content">
	<div class="ldin-feed-wrapper viral-feed">
		<div class="ldin-feed-author">
			<a href="#" class="ldin-avatar ldin-avatar-small">
				<img alt="Rich Schlentz" src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAOKAAAAJGE3NTBmY2U0LTA2NDMtNDNmNC05OTc0LTc5ZmVhNjg4Zjk4Mg.jpg">
			</a>
			<ul class="actions">
				<li>
					<button class="button btn-follow">
						<span>
							Follow
						</span>
					</button>
				</li>
			</ul>
			<h4>
				<a href="#" class="ldin-link">Rich Schlentz</a>
				<div class="title-container">
					<a href="#">Founder, EXTRAordinary! Inc.</a>
				</div>
			</h4>
		</div>
		
		<div class="ldin-inner-box side-article">
			<a href="#" class="image-side-content">
				<div class="image-container">
					<img src="https://media.licdn.com/media-proxy/ext?w=180&amp;h=110&amp;f=c&amp;hash=Z52K%2F00LSkzYPA201oPgr5g6JOs%3D&amp;ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0VzkkFUWzBclrqKIrku-qkRISM3REnK-BmXo5aTxFQaYGLauCMPQ1SxnBi1w4XVDBZvOGlm8eMnCdvy0Abgb0em_XdSaQgBSRBVm0VBF6N0XDispj6OQCNLqYzRh9cUNVyjzI7fu" alt="Quantity vs. Quality Time" class="nmp-sized checked">
				</div>
			</a>
			<div class="content-description">
				<div class="content">
					<a href="#">
						<h4>
							Quantity vs. Quality Time
						</h4>
						<div class="snippet-container">
							<cite>
								Rich Schlentz
							</cite>
							<span class="snippet">
								My oldest daughter, Taylor, was home schooled through 5th grade. Once while attending a workshop at the North Carolina Home Educators Conference, the spea…
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>