<section class="me-timeline-section timeline-ldin">
	<header>
		<i class="icon-linkedin"></i>
	</header>
	<aside class="ldin-feed">
		{{!--{{#foreach this.elements}}--}}
		{{> timeline/desktop/ldin/box this }}
		{{!--{{/foreach}}--}}
	</aside>  <!-- /linkedin-feed-->
</section> <!-- /timeline-linkedin-->