@import "../core/core.less";
@import "../grid/grid.less";

.sprite-url: "/images/general/sprite.png";
.sprite-desktop(@left, @top){
	background: url(.sprite-url) @left @top;
};

.sprite-desktop-logo(){
	.sprite-desktop(0, -120px);
};

.container{
	background: #ccc;
	text-align: center;
}

.me-logo{
	.inline-block();
	.sprite-desktop-logo();
	width: 134px;
	height: 50px;
}