@import "../core/core.less";
@import "../grid/grid.less";
@import "/less/page/app-core.less";
@import "/less/page/variables.less";



.container{
	background: #ccc;
	text-align: center;
}

.me-logo{
	.inline-block();
	.sprite-desktop-logo();
	width: 134px;
	height: 50px;
}