<header class='me-common-header'>
	{{> common/common-header-logo}}
	<div class="me-header-dropdown">
		<a><i class='icon-apps'></i> <span>Timeline</span></a>
	</div>
	<div class="me-header-profile">
		<a>
			<div class="profilepic-holder notify">
				<div class="circle-notification">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<figure class="me-profilepic-40"><img src=""></figure>
			</div>
		</a>
		<div class="me-profile-dropdown">
			<header>
				<figure class="me-profilepic-100">
					<img src="">
				</figure>
				<aside>
					<h3 class="me-user-fullname">Erik Hayes</h3>
					<span class="me-login-status">Logged in with Facebook</span>
				</aside>
			</header>
			<nav class="me-profile-nav">
				<ul>
					<li>
						<a href="#" class="me-notify-row">
							Create an account
							<aside>
								<div class="circle-notification mini">
									<span></span>
									<span></span>
									<span></span>
								</div>
							</aside>
						</a>
					</li>
					<li>
						<a href="#">
							Invite Friends
							<aside>4 left</aside>
						</a>
					</li>
				</ul>
			</nav>
			<footer>
				<a href="#" class="me-account-settings">Account Settings</a>
				<a href="#" class="me-signout">Sign out</a>
			</footer>
		</div>
	</div>
	<div class="me-header-notification">
		<a>
			<i class="me-notification-badge">+99</i>
			<i class='icon-bell'></i>
		</a>
	</div>
</header>