<header class='me-common-header'>
	{{> common/common-header-logo}}
	<div class="me-header-dropdown">
		<a><i class='icon-apps'></i> <span>Timeline</span></a>
	</div>
	<div class="me-header-profile">
		<a>
			<div class="profilepic-holder notify">
				<div class="circle-notification">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<figure class="me-profilepic-40"><img src=""></figure>
			</div>
		</a>
	</div>
	<div class="me-header-notification">
		<a>
			<i class="me-notification-badge">+99</i>
			<i class='icon-bell'></i>
		</a>
	</div>
</header>