<header class='me-common-header'>
	<div class="me-header-dropdown">
		<a href="#"><i class='icon-apps'></i> <span>Timeline</span></a>
	</div>
	<div class="me-header-notification">
		<a href="#">
			<i class="badge">+99</i>
			<i class='icon-bell'></i>
		</a>
	</div>
	{{> common/common-header-logo}}
</header>