<div class="fb-link-actions">
	<nav class="fb-post-statistics">
		<a href="#">23.7K Likes</a>
		<a href="#">890 Comments</a>
	</nav>
	<nav class="fb-post-actions">
		<a href="#">Like</a>
		<a href="#">Comment</a>
		<a href="#">Share</a>
	</nav>
</div>