{{#extend "stylesheets"}}
	<!-- this logic should come from the back-end -->
	<link rel="stylesheet" 
		href="/css/page-wrappers/comps.css"
		type="text/css" />
{{/extend}}
<div class="body-bg"></div>
<div class='container me-home'>
	<header>
		<h3>
			Components Go Here
		</h3>
		<h1 class='me-logo-sm'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>

		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>

		<h1 class='me-logo-purple'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
	</header>

	<button class="btn-facebook">Login With Facebook</button>
	<button class="btn-email">Login With Email</button>
	<button class="btn-register">Register</button>
	<span class='line-text'>OR</span>

	<h3>Icons</h3>
	<i class="icon-user"></i>
	<i class="icon-password"></i>
	<i class="icon-paperplane"></i>
	

	<h1>Square Buttons</h1>


	<h3>Normal Size</h3>
	<button class="btn-facebook-sq"></button>
	<button class="btn-twitter-sq"></button>
	<button class="btn-pinterest-sq"></button>
	<button class="btn-googleplus-sq"></button>
	<button class="btn-instagram-sq"></button>
	<button class="btn-foursquare-sq"></button>
	<button class="btn-yahoo-sq"></button>
	<button class="btn-photo-sq"></button>
	<button class="btn-checkin-sq"></button>
	<button class="btn-video-sq"></button>

	<h3>Normal Size Off</h3>
	<button class="btn-facebook-sq off"></button>
	<button class="btn-twitter-sq off"></button>
	<button class="btn-pinterest-sq off"></button>
	<button class="btn-googleplus-sq off"></button>
	<button class="btn-instagram-sq off"></button>
	<button class="btn-foursquare-sq off"></button>
	<button class="btn-yahoo-sq off"></button>
	<button class="btn-photo-sq off"></button>
	<button class="btn-checkin-sq off"></button>
	<button class="btn-video-sq off"></button>


	<h3>Small Size</h3>
	<button class="btn-facebook-sq-sm"></button>
	<button class="btn-twitter-sq-sm"></button>
	<button class="btn-pinterest-sq-sm"></button>
	<button class="btn-googleplus-sq-sm"></button>
	<button class="btn-instagram-sq-sm"></button>
	<button class="btn-foursquare-sq-sm"></button>
	<button class="btn-yahoo-sq-sm"></button>
	<button class="btn-photo-sq-sm"></button>
	<button class="btn-checkin-sq-sm"></button>
	<button class="btn-video-sq-sm"></button>

	<h3>Small Off</h3>
	<button class="btn-facebook-sq-sm off"></button>
	<button class="btn-twitter-sq-sm off"></button>
	<button class="btn-pinterest-sq-sm off"></button>
	<button class="btn-googleplus-sq-sm off"></button>
	<button class="btn-instagram-sq-sm off"></button>
	<button class="btn-foursquare-sq-sm off"></button>
	<button class="btn-yahoo-sq-sm off"></button>
	<button class="btn-photo-sq-sm off"></button>
	<button class="btn-checkin-sq-sm off"></button>
	<button class="btn-video-sq-sm off"></button>


	<h1>Outline Buttons</h1>



	<h1>Square Buttons</h1>

	<button class="btn-outline-large"><span>Ask them all</span><small>34 friends</small></button>
	<button class="btn-outline-sm">Ask</button>

</div>

{{#extend "js-bottom"}}
{{/extend}}