{{#extend "stylesheets"}}
	{{#if is_phone}}
	<link rel="stylesheet" href="/css/page-wrappers/email-login.css" type="text/css" />
	{{else}}
	<link rel="stylesheet" href="/css/page-wrappers/email-login-desktop.css" type="text/css" />
	{{/if}}
{{/extend}}

{{#unless is_phone}}
<div class="body-bg"></div>
{{/unless}}
<div class="container me-login">
	<div class="me-table-cell">
		<header class="me-home-header">
			<h1 class="me-logo">
				<span class="visuallyhidden focusable">Mergify</span>
			</h1>
		</header>
		<section class="me-email-login">
			<form action="" method="">
				<div class="input-username"><input type="text" placeholder="Username" /></div>
				<div class="input-password"><input type="password" placeholder="Password" /></div>
				<button class="btn-signin">Signin</button>
				<div><a href="#" class="me-home-link">Forgot your password</a></div>
				{{#if is_phone}}
				<div><a href="#" class="me-home-link">Creat Account</a></div>
				{{/if}}

				{{#unless is_phone}}
				<span class="line-text">OR</span>
				<button class="btn-facebook">Login With Facebook</button>
				{{/unless}}
			</form>
		</section>
	</div>
</div>

{{#extend "js-bottom"}}
{{/extend}}