{{#extend 'stylesheets'}}
	{{#if is_phone}}
	<link rel='stylesheet' 
		href='/css/page-wrappers/home.css'
		type='text/css' />
	{{else}}
	<link rel='stylesheet' 
		href='/css/page-wrappers/home-desktop.css'
		type='text/css' />
	{{/if}}
{{/extend}}

<div class='body-bg'></div>
<div class='container me-home'>
	<div>
		<header class='me-home-header'>
			{{> common/common-header-logo}}
			<p>
				Be in your all Social Networks in one place
			</p>
		</header>

		<section class='me-home-btns'>
			<a href='/auth/facebook' class='btn-facebook'>
				Continue with Facebook
			</a>
			<a href='/login' class='btn-email'>
				Sign in using Email
			</a>
			
			{{#unless is_phone}}
			{{> common/comps/line-text}}
			{{/unless}}

			{{#if is_phone}}
			<footer>
				Already have an account? 
				<a href='/login'>
					Log in Now
				</a>
			</footer>
			{{/if}}

			{{#unless is_phone}}
			<a href='/signup' class='btn-register'>
				Register
			</a>
			{{/unless}}
		</section>
	</div>
</div>

{{#extend 'js-bottom'}}
{{/extend}}