{{#extend "stylesheets"}}

	<!-- this logic should come from the back-end -->

	<link rel="stylesheet" 
		href="/css/app/pages/home.css" t
		ype="text/css" />

{{/extend}}

<div class="container">
	<header>
		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
	</header>
</div>

{{#extend "js-bottom"}}
<!-- js goes here -->
{{/extend}}