{{#extend "stylesheets"}}
	<!-- this logic should come from the back-end -->
	{{#if isMobile}}
	<link rel="stylesheet" 
		href="/css/page-wrappers/home.css"
		type="text/css" />
	{{else}}
	<link rel="stylesheet" 
		href="/css/page-wrappers/home-desktop.css"
		type="text/css" />
	{{/if}}
{{/extend}}

<div class='container me-home'>
	<header>
		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
		<p>Be in your all Social Networks in one place</p>
	</header>
	<section class='me-home-btns'>
		<button class="btn-facebook">Continue with Facebook</button>
		<button class="btn-email">Sign in using Email</button>
		<span class='line-text visible-md-block visible-lg-block'>OR</span>
		{{#if isMobile}}
		<footer>
			Already have an account? 
			<a href="#">
				Log in Now
			</a>
		</footer>
		{{else}}
		<button class="btn-register">Register</button>
		{{/if}}
	</section> 
</div>

{{#extend "js-bottom"}}
{{/extend}}