{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/css/page/home.css"/>
{{/extend}}

<div class="container">
	<header>
		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
	</header>
</div>

{{#extend "js-bottom"}}
	<link rel="stylesheet" href="/css/page/home.css"/>
{{/extend}}