{{#extend "stylesheets"}}

	<!-- this logic should come from the back-end -->

	<link rel="stylesheet" 
		href="/css/page-wrappers/home.css"
		type="text/css" />

{{/extend}}

<div class='container me-home'>
	<header>
		<h1 class='me-logo-small'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>

		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>

		<p>Be in your all social networks in one place</p
	</header>

	<button class="btn-facebook">Login With Facebook</button>

	<button class="btn-email">Login With Email</button>

	<i class="icon-user"></i>
	<i class="icon-password"></i>
	<i class="icon-paperplane"></i>
	<i class="icon-twitter"></i>
</div>

{{#extend "js-bottom"}}
{{/extend}}