{{#extend "stylesheets"}}

	<!-- this logic should come from the back-end -->

	<link rel="stylesheet" 
		href="/css/app/pages/home.css" t
		ype="text/css" />

{{/extend}}

<div class='container me-home'>
	<header>
		<h1 class='me-home-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
			testing....
		</h1>
	</header>
</div>

{{#extend "js-bottom"}}
{{/extend}}