{{#extend "stylesheets"}}

	<!-- this logic should come from the back-end -->

	<link rel="stylesheet" 
		href="/css/app/page-wrappers/home.css"
		ype="text/css" />

{{/extend}}

<div class='container me-home'>
	<header>
		<h1 class='me-logo-small'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
		<p>Be in your all social networks in one place</p
	</header>
	<button class="btn-has-icon btn-facebook"><i class="icon-facebook"></i><span>Login With Facebook</span></button>
	<i class="icon-user"></i>
	<i class="icon-password"></i>
	<i class="icon-paperplane"></i>
	<i class="icon-twitter"></i>
</div>

{{#extend "js-bottom"}}
{{/extend}}