{{#extend "stylesheets"}}
	<!-- this logic should come from the back-end -->
	<link rel="stylesheet" 
		href="/css/page-wrappers/home.css"
		type="text/css" />
{{/extend}}

<div class='container me-home'>
	<header>
		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
		<p>Be in your all Social Networks in one place</p>
	</header>
	<section class='me-home-btns'>
		<button class="btn-facebook">Continue with Facebook</button>
		<button class="btn-email">Sign in using Email</button>
		<span class='line-text visible-md-block visible-lg-block'>OR</span>
		<button class="btn-submit visible-md-block visible-lg-block">Register</button>
		<footer class="visible-xs-block visible-sm-block">Already have an account? <a href="#">Log in Now</a></footer>
	</section> 
</div>

{{#extend "js-bottom"}}
{{/extend}}