{{#extend "stylesheets"}}

	<!-- this logic should come from the back-end -->

	<link rel="stylesheet" 
		href="/css/page/home.css" t
		ype="text/css" />

{{/extend}}

<div class="container">
	<header>
		<h1 class='me-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
	</header>

	<div class='mahdi'>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
	</div>
</div>

{{#extend "js-bottom"}}
<!-- js goes here -->
{{/extend}}