{{#extend 'stylesheets'}}
	{{#if is_phone}}
	<link rel='stylesheet'
		href='/css/page-wrappers/home.css'
		type='text/css' />
	{{else}}
	<link rel='stylesheet'
		href='/css/page-wrappers/home-desktop.css'
		type='text/css' />
	{{/if}}
{{/extend}}

<div class='body-bg'></div>
<main class='container me-home' role='main'>
	<div>
		<header class='me-home-header'>
			{{> comps/header/logo}}
			<p>
				{{#i18n 'PAGE_DESCRIPTION'}}{{/i18n}}
			</p>
		</header>

		<section class='me-home-btns'>
			{{> buttons/fb this}}
			<a href='/login' class='btn-email' role='button'>
				{{#i18n 'EMAIL_SIGNIN'}}{{/i18n}}
			</a>

			{{#unless is_phone}}
			{{> comps/line-text}}
			{{/unless}}

			{{#if is_phone}}
			<footer>
				{{#i18n 'ALREADY_HAVE_ACCOUNT'}}{{/i18n}}
				<a href='/login'>
					{{#i18n 'LOGIN'}}{{/i18n}}
				</a>
			</footer>
			{{/if}}

			{{#unless is_phone}}
			{{> buttons/signup }}
			{{/unless}}
		</section>
	</div>
</main>

{{#extend 'js-bottom'}}
{{/extend}}
