{{#extend "stylesheets"}}

	<!-- this logic should come from the back-end -->

	<link rel="stylesheet" 
		href="/css/app/page-wrappers/home.css"
		ype="text/css" />

{{/extend}}

<div class='container me-home'>
	<header>
		<h1 class='me-home-logo'> 
			<span class='visuallyhidden focusable'>Mergify</span>
		</h1>
		<p>Be in your all social networks in one place</p
	</header>
	<i class="icon-facebook"></i>
</div>

{{#extend "js-bottom"}}
{{/extend}}