{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/css/page/home.css"/>
{{/extend}}

<div class="container">
{{title}}


	<div class="item-list">
	  <div style='background: green'>.col-xs-6 .col-md-4</div>
	  <div style='background: green'>.col-xs-6 .col-md-4</div>
	  <div style='background: green'>.col-xs-6 .col-md-4</div>
	  <div style='background: green'>.col-xs-6 .col-md-4</div>
	</div>

</div>

{{#extend "js-bottom"}}
	<link rel="stylesheet" href="/css/page/home.css"/>
{{/extend}}