{{#extend 'stylesheets'}}
	{{#if is_phone}}
	<link rel='stylesheet' href='/css/page-wrappers/login.css' type='text/css' />
	{{else}}
	<link rel='stylesheet' href='/css/page-wrappers/login-desktop.css' type='text/css' />
	{{/if}}
{{/extend}}

{{#unless is_phone}}
<div class='body-bg'></div>
{{/unless}}
<div class='container me-login'>
	<div>
		{{> common/home-header}}

		<section class='me-login-form'>
			<form action='' method=''>
				<div class='input-username'>
					<input type='text' placeholder='Username' />
				</div>
				<div class='input-password'>
					<input type='password' placeholder='Password' />
				</div>
				{{> buttons/signin this}}

				<div>
				{{> buttons/forgotpass this}}
				</div>

				{{#if is_phone}}
				<div>
					{{> buttons/signup-link this}}
				</div>
				{{/if}}

				{{#unless is_phone}}
					{{> common/comps/line-text}}
					{{> buttons/fb this}}
				{{/unless}}
			</form>
		</section>
	</div>
</div>
{{#extend 'js-bottom'}}
{{/extend}}