{{#extend 'stylesheets'}}
	{{#if is_phone}}
	<link rel='stylesheet' href='/css/page-wrappers/login.css' type='text/css' />
	{{else}}
	<link rel='stylesheet' href='/css/page-wrappers/login-desktop.css' type='text/css' />
	{{/if}}
{{/extend}}

{{#unless is_phone}}
<div class='body-bg'></div>
{{/unless}}
<div class='container me-login'>
	<div>
		{{> common/common-header}}
		<section class='me-login-form'>
			<form action='' method=''>
				<div class='input-username'>
					<input type='text' placeholder='Username' />
				</div>
				<div class='input-password'>
					<input type='password' placeholder='Password' />
				</div>
				<button class='btn-signin'>
					Signin
				</button>
				<div>
					<a href='#' class='me-home-link'>
						Forgot your password
					</a>
				</div>
				{{#if is_phone}}
				<div>
					<a href='/signup' class='me-home-link'>
						Create an Account
					</a>
				</div>
				{{/if}}

				{{#unless is_phone}}
				{{> common/comps/line-text}}
				<button class='btn-facebook'>
					Continue With Facebook
				</button>
				{{/unless}}
			</form>
		</section>
	</div>
</div>
{{#extend 'js-bottom'}}
{{/extend}}