{{#extend 'stylesheets'}}
{{#if is_phone}}
<link rel='stylesheet' href='/css/page-wrappers/signup.css' type='text/css' />
{{else}}
<link rel='stylesheet' href='/css/page-wrappers/signup-desktop.css' type='text/css' />
{{/if}}
{{/extend}}

{{#unless is_phone}}
<div class='body-bg'></div>
{{/unless}}
<div class='container me-signup'>
	<div>
		{{> common/common-header}}
		<section class='me-signup-form'>
			{{#unless is_phone}}
			<a href='' class='btn-facebook'>
				Continue with Facebook
			</a>
			<span class='line-text'>
				OR
			</span>
			{{/unless}}
			{{#if is_phone}}
			<div class='me-signup-errormsg'>
				Seems your email address is not valid
			</div>
			{{/if}}
			<form action='' method=''>
				<div class='me-signup-row'>
					<div class='me-signup-col'>
						<div class='input-box-fname'>
							<input type='text' placeholder='First Name' />
						</div>
					</div>
					<div class='me-signup-col'>
						<div class='input-box-lname'>
							<input type='text' placeholder='Last Name' />
						</div>
					</div>
				</div>
				<div class='input-email'>
					<input type='text' placeholder='Email' />
				</div>
				<div class='input-password'>
					<input type='text' placeholder='Password' />
				</div>
				<div class='me-signup-row me-gender-row'>
					<div class='me-signup-col'>
						<button class='radio-button-female'>
							{{#unless is_phone}}
							<i></i>
							{{/unless}}
							<label>
								Female
							</label>
							<input type='hidden' name='gender' id='female' />
						</button>
					</div>
					<div class='me-signup-col'>
						<button class='radio-button-male selected'>
							{{#unless is_phone}}
							<i></i>
							{{/unless}}
							<label>
								Male
							</label>
							<input type='hidden' name='gender' id='male' />
						</button>
					</div>
				</div>
				<a href='/signin' class='btn-signin'>Register</a>
			</form>
			{{#if is_phone}}
			<a href='' class='btn-facebook'>
				Continue with Facebook
			</a>
			{{/if}}
			{{#unless is_phone}}
			<footer>
				Already have an account? 
				<a href='/login'>
					Log in Now
				</a>
			</footer>
			{{/unless}}
		</section>
	</div>
</div>

{{#extend 'js-bottom'}}
{{/extend}}