<div class="me-timeline-settings js-timeline-settings show">
	<a href="#" class="settings-anchor"></a>
	<div class="settings-content">
		<section>
			<h3>Display Socials</h3>
			<ul>
				<li><button class='btn-facebook-sq-sm'></button></li>
				<li><button class='btn-twitter-sq-sm'></button></li>
				<li><button class='btn-pinterest-sq-sm'></button></li>
				<li><button class='btn-googleplus-sq-sm off'></button></li>
				<li><button class='btn-instagram-sq-sm off'></button></li>
			</ul>
		</section>
		<section>
			<h3>Content Filter</h3>
			<ul>
				<li><button class='btn-photo-sq-sm'></button></li>
				<li><button class='btn-checkin-sq-sm'></button></li>
				<li><button class='btn-video-sq-sm'></button></li>
			</ul>
		</section>
	</div>
</div>