<div class="ig-box{{#if $last}} last{{/if}}">

	<span class="post-time">
		10w
	</span>

	{{> timeline/mobile/ig/post-header }}

	{{> timeline/mobile/ig/post-image }}

	{{> timeline/mobile/ig/post-links }}

	{{> timeline/mobile/ig/post-comments }}

</div><!-- /ig-box-->