<div class="ig-image">
	<div class="ig-image-holder" style="background-image: url('https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11033005_539620709511510_1303212520_n.jpg');"></div>
</div>