<div class="tweet-content">

	<div class="tweet-social-context">
		<i class="icon-tw-retweet icon-social-context"></i>
		<span>Lea Verou retweeted</span>
	</div>
	<div class="tweet-wrapper">
		<div class="tw-avatar" href="/Johanna_B_Ruiz">
			<img src="//pbs.twimg.com/profile_images/3121233202/888a9c88d550ceb8604eaffa9046f714_reasonably_small.jpeg">
		</div>
		<div class="tweet-inner">
			<div class="tweet-user-info">
				<div class="tw-username">
					<strong class="tw-fullname">Johanna Ruiz</strong>
					<i class="icon-verified"></i>
					<span class="tw-screen-name">
						<s>@</s>Johanna_B_Ruiz
					</span>
				</div>
				<div class="post-time">
					1h
				</div>
			</div>
			<div class="tweet-text">
				<div class="tweet-text-inner">
					Big thanks to
					<a href="/chriseppstein" class="twitter-atreply dir-ltr" data-screenname="chriseppstein" dir="ltr"><s>@</s>chriseppstein</a>
					<a href="/chriscoyier" class="twitter-atreply dir-ltr" data-screenname="chriscoyier" dir="ltr"><s>@</s>chriscoyier</a>
					<a href="/LeaVerou" class="twitter-atreply dir-ltr" data-screenname="LeaVerou" dir="ltr"><s>@</s>LeaVerou</a>
					<a href="/HugoGiraudel" class="twitter-atreply dir-ltr" data-screenname="HugoGiraudel" dir="ltr"><s>@</s>HugoGiraudel</a>
					<a href="/SaraSoueidan" class="twitter-atreply dir-ltr" data-screenname="SaraSoueidan" dir="ltr"><s>@</s>SaraSoueidan</a>
					<a href="/Francext" class="twitter-atreply dir-ltr" data-screenname="Francext" dir="ltr"><s>@</s>Francext</a> for being my biggest teachers
					<a href="/search?q=HonoringWebFolk&amp;s=hash" class="twitter-hashtag dir-ltr" dir="ltr"><s>#</s>HonoringWebFolk</a></div>
				</div>
			</div>
		</div>

	</div>