<section class="timeline-fb">
	<header><i class="icon-facebook"></i></header>
	<span class="timeline-curtime">{{timeHourMin this.created_time}}</span>
	<aside class="fb-feed">
	{{!-- {{#foreach this.elements}} --}}
		{{> timeline/fb/box }}
	{{!-- {{/foreach}} --}}
	</aside>  <!-- /fb-feed-->
</section> <!-- /timeline-fb-->