<section class="me-timeline-section timeline-ig">
	<header>
		<i class="icon-instagram"></i>
	</header>
	<aside class="ig-feed">
		{{!--{{#foreach this.elements}}--}}
		{{> timeline/desktop/ig/box this }}
		{{!--{{/foreach}}--}}
	</aside>  <!-- /ig-feed-->
</section> <!-- /timeline-ig-->