<div class="ig-comments-container">
	<div class="ig-status">
		<div class="ig-user-img-small">
			<a href="#" class="ig-user-img-link">
				<img src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/10950631_626836630751767_358042311_a.jpg" />
			</a>
		</div>
		<a href="#">
			watchanish
		</a>
		<span class="ig-comment-text">
			Day Three
		</span>
	</div>
	<div class="ig-remain-comment-count">
		<a href="#">
			13 more comments
		</a>
	</div>
	<div class="ig-comment">
		<div class="ig-user-img-small">
			<a href="#" class="ig-user-img-link">
				<img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-19/11055896_1527792644108193_831076737_a.jpg" />
			</a>
		</div>
		<a href="#">
			luxury_media
		</a>
		<span class="ig-comment-text">
			Perfect style <a href="#">@watchanish</a> pls check My page <a href="#">@luxury_media</a>
		</span>
	</div>
	<div class="ig-comment">
		<div class="ig-user-img-small">
			<a href="#" class="ig-user-img-link">
				<img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/11049385_897975763598161_2077834929_a.jpg" />
			</a>
		</div>
		<a href="#">
			faricon3
		</a>
		<span class="ig-comment-text">
			<a href="#">@lex_luger808</a> :*
		</span>
	</div>

	<div class="ig-comment">
		<a href="#" class="ig-delete-comment"></a>
		<div class="ig-user-img-small">
			<a href="#" class="ig-user-img-link">
				<img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/11049385_897975763598161_2077834929_a.jpg" />
			</a>
		</div>
		<a href="#">
			mat_klv
		</a>
		<span class="ig-comment-text">
			Great
		</span>
	</div>

	<div class="ig-comment-composer">
		<form class="ig-comment-form">
			<input type="text" placeholder="Write a comment…">
		</form>
	</div>
</div>