@import "public/less/core/mixins.less";
@import "public/less/app/lib/mixins.less";



body{
	font-family: 'HelveticaNeueLight';
	background: url(@image-bg) center center;
	background-size: cover;
}

.me-logo,
.me-logo-small{
	.inline-block();
	.sprite-logo();
}

.me-home > header{
	margin-top: 27px;
	color: #fff;

	> p {
		margin-top: 0;
		font-size: 25px;
	}
}

.icon-user{
	.icon-avatar();
	font-size: 24px;
}

.icon-password{
	.icon-key();
	font-size: 24px;
}

.icon-paperplane{
	.icon-paperplane();
	font-size: 200px;
}


@media @desktop{
	.me-logo-small{
		.sprite-logo-small();
	}
}