@import "/public/less/core/mixins.less";
@import "/public/less/app/main/mixins-app.less";

body{
	font-family: 'HelveticaNeueLight';
	background: url(@image-bg) center center;
	background-size: cover;
}

//load icon css
.icon();

.me-logo,
.me-logo-small{
	.inline-block();
	.sprite-logo();
}

.me-home > header{
	margin-top: 27px;
	color: #fff;
}

.me-home > header p{
	margin-top: 0;
	font-size: 25px;
}

@media @desktop{
	.me-logo-small{
		.sprite-logo-small();
	}
}

.icon-facebook{
	.icon-facebook();
	font-size: 24px;
}

.icon-email{
	.icon-email();
	font-size: 24px;
}

.icon-user{
	.icon-avatar();
	font-size: 24px;
}

.icon-password{
	.icon-key();
	font-size: 24px;
}

.icon-paperplane{
	.icon-paperplane();
	font-size: 200px;
}

