body{
	background: url(@image-bg) center center;
	background-size: cover;
}

.me-home > header{
	margin: 70px 0 100px;
	color: #fff;

	.me-logo{
		.inline-block();
		.sprite-logo-small();
		margin-bottom: 20px;
	}

	> p {
		margin-top: 0;
		font-size: 20px;
	}
}

.me-home > .me-home-btns{

	.center-block();
	

	> .btn-facebook{
		.btn-facebook();
		margin-bottom: 12px;
	}	

	> .btn-email{
		.btn-email();
		margin-bottom: 30px;
	}

	> .btn-register{
		.btn-register();
	}

	> .line-text{
		.line-text();
		margin-bottom: 30px;
	}

	> footer{
		color: #fff;

		> a{
			color: #fff;
			font-weight: bold;
		}
	}
}

@media @desktop{

	.me-home > header{
		margin: 100px 0 50px;

		.me-logo{
			.sprite-logo();
		}

		> p {
			font-size: 24px;
		}
	}

	.me-home > .me-home-btns{
			width: 450px;
	}
}