@import "public/less/core/mixins.less";
@import "public/less/app/lib/mixins.less";



body{
	font-family: 'HelveticaNeueLight';
	background: url(@image-bg) center center;
	background-size: cover;
}

.me-logo,
.me-logo-small{
	.inline-block();
	.sprite-logo();
}

.me-home > header{
	margin: 209px 0 104px 0;
	color: #fff;

	> p {
		margin-top: 0;
		font-size: 25px;
	}
}

.btn-facebook{
	.btn-facebook();
	margin-bottom: 12px;
}

.btn-email{
	.btn-email();
	margin-bottom: 20px;
}

.line-text{
	.line-text();
	margin-bottom: 20px;
}

.me-home-btns{
	width: 90%;
	.center-block();
}

@media @desktop{
	.me-home-btns{
		width: 450px;
	}
}