@import "/public/less/app/main/variables.less";
@import "/public/less/core/mixins.less";

// defualt is always for mobile

.sprite-url{	
	.img-retina(@sprite-url; @sprite-url-retina; 590px; 350px);
}


// generate a sprite without the need of sending the background url
.sprite(@width; @height; @x; @y){

	//either have it here or add a class.
	
	&:extend(.sprite-url);
	width: ~`(function(w){ return w === '0' ? w : w + 'px';  })("@{width}")`;
  	height: ~`(function(h){ return h === '0' ? h : h + 'px';  })("@{height}")`;
  	background-position:  ~`(function(x, y){ 
  		if( x !== '0'){
  			x = (x * -1) + 'px';
  		}

  		if( y !== '0'){
  			y = (y * -1) + 'px';
  		}

  		return x + ' ' +y;
  	})( "@{x}", "@{y}")`;
	
}