@import "/public/less/app/main/variables.less";
@import "/public/less/core/mixins.less";

// defualt is always for mobile

// sprite mixins
// -----------------
.sprite-url{	
	.img-retina(@sprite-url; @sprite-url-retina; 590px; 350px);
}

.sprite-default(@width; @height; @x; @y){
  //either have it here or add a class.
  
  &:extend(.sprite-url);
  
  width: replace(~"@{width}px", "^0px", "0");
  height: replace(~"@{height}px", "^0px", "0");
  background-position:  replace(~"@{x}px @{y}px", "^0px", "0", "gi");

}

// generate a sprite without the need of sending the background url
.sprite(@width; @height; @x; @y){
  @neg-x: @x * -1;
  @neg-y: @y * -1;
  .sprite-default(@width; @height; @neg-x; @neg-y);
}


// icon mixins and classes
//------------------------

[class ^= "icon-"], 
[class *= " icon-"],
.icon{
    font-family: 'me-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

// icon content
.icon-content(@c){
  &:before{
    content: "\e@{c}"
  }
}

.btn-icon-large(@bg, @icon-bg, @color){
  .btn-icon(435px, 60px, 10px, @bg, @icon-bg, @color);
}

.btn-icon(@w; @h; @radius; @bg; @icon-bg; @color){
  &:extend(.icon);
  .vertical-align-inline(@h);
  .border-radius(@radius);
  
  width: @w;
  padding: 0;
  
  background: @bg;
  color: @color;
  border: none;
  text-align: center;

  &:before{
    float: left;
    width: @h;
    height: @h;
    line-height: @h;
    background: icon-bg
  }
}