@import "/public/less/app/main/variables.less";
@import "/public/less/core/mixins.less";

// defualt is always for mobile

// sprite mixins
// -----------------
.sprite-url{	
	.img-retina(@sprite-url; @sprite-url-retina; 590px; 350px);
}

.sprite-default(@width; @height; @x; @y){
  //either have it here or add a class.
  
  &:extend(.sprite-url);
  
  width: replace(~"@{width}px", "^0px", "0");
  height: replace(~"@{height}px", "^0px", "0");
  background-position:  replace(~"@{x}px @{y}px", "^0px", "0", "gi");

}

// generate a sprite without the need of sending the background url
.sprite(@width; @height; @x; @y){
  @neg-x: @x * -1;
  @neg-y: @y * -1;
  .sprite-default(@width; @height; @neg-x; @neg-y);
}


// icon mixins
//----------------

.icon(){
    font-family: 'me-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

// icon content
.icon-content(@c){
  &:before{
    content: "\e@{c}"
  }
}

.btn-icon(@x; @y; @radius; @bg; @c; @iconbg; @color){
  .clearfix();
  .border-radius(@radius);
  .vertical-align-inline(@y);
  background: @bg;
  .icon();
  width: @x;
  color: @color;
  padding: 0;
  border: none;
  &:before{
    width: @y;
    height: @y;
    background: @iconbg;
    line-height: @y;
    float: left;
    content: "\e@{c}";
  }
  span{
    overflow: hidden;
    text-align: center;
  }
}